---
import MainLayout from "../layout/MainLayout.astro";
import ReactComp from "../components/ReactComp";
const name = "Hello React";
---

<MainLayout>
  <h1 class="text-9xl">Astro</h1>
  <ReactComp client:visible {name} />
</MainLayout>
